/* This will not be useful to anyone but me, most likely. */

div.card {
    background-color: #000000;
    color: #fff;
    border-style: solid;
    border-color: #aaa;
}

div.hgroup h1 {
    color: #000000;
}

div.hgroup h2 {
    color: #000000;
}

p.yum {
    font-family: "IM Fell DW Pica";
    font-size: 1.2em;
    line-height: 1em;
    margin-left: .8em;
}

p.code {
    font-family: "IM Fell DW Pica";
    padding-left: 1em;
    font-weight: normal;
}

p.code:before {
    content: "download code";
    color: #ffffff;
    font-family: "IM Fell DW Pica SC";
    font-size: .7em;
    display: block;
    line-height: 3em;
    margin-top: -2.3em;
}

