#commit-description-textarea, #commit-description-textarea {
    background-color: #000000;
    color: #00aaff;
}

#content-wrapper {
    border-color: #000966;
}

#footer {
    background-color: inherit;
    border-color: #000966;
}

#gollum-editor ul.li.noTransition:hover {
    border: inherit;
}

#gollum-editor ul.noTransition {
    border-color: #000966;
}

#gollum-editor-help-parent li a.selected, #gollum-editor-help-list li a.selected {
    border-color: #000966;
}

#header {
    background-color: #000000;
    border-color: #000966;
}

#js-repo-pjax-container > div.commits-listing.commits-listing-padded.js-navigation-container.js-active-navigation-container > li.commit.commits-list-item.table-list-item.js-navigation-item.js-details-container.js-socket-channel.js-updatable-content.navigation -focus {
    background-color: #000966;
}

#top_search_form {
    border-color: #000396;
}

.ace-github-light {
    background-color: #000000;
    color: inherit;
}

.ace_gutter-cell {
    background: #000000;
}

.ace_layer .ace_active-line {
    background-color: #222222;
    color: #00ffff;
}

.ace_layer .ace_selection {
    background-color: #000966;
}

.boxed-group.flush a.btn-link {
    background-color: #00aaff;
    color: #000000;
}

.boxed-group.flush h3.noTransition {
    background-color: #00aaff;
    color: #000000;
}

.bubble {
    background-color: transparent;
    border-width: 0;
}

.file .meta {
}

.file-navigation.in-mid-page {
    padding: 0 3px 0 5px;
}

.file-navigation.in-mid-page .minibutton, .file-navigation.in-mid-page .select-menu {
    float: right;
    margin-top: 1px;
}

.highlight .err {
    background-color: #1c2d2d;
    color: #59e8e8;
}

.highlight .gr, .highlight .gt {
    color: #55ffff;
}

.highlight .gu, .highlight .ni {
    color: #7fff7f;
}

.highlight .kt, .highlight .nc {
    color: #bbaa77;
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
    color: #ff6666;
}

.highlight .na, .highlight .no, .highlight .nv, .highlight .vg, .highlight .vi, .highlight .vc {
    color: #ff7f7f;
}

.highlight .nb {
    color: #ff794c;
}

.highlight .ne, .highlight .nf {
    color: #66ffff;
}

.highlight .nt {
    color: #ffff7f;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .si, .highlight .sx, .highlight .s1 {
    color: #2ebfff;
}

.highlight .sr {
    color: #ff66d9;
}

.highlight .w {
    color: #444444;
}

.issues-list-options {
    margin-bottom: 5px;
}

.js-code-editor,.container-preview,.show-code {
    background: #000000;
    border-color: #000396;
}

.js-current-repository {
    color: #00ffff;
}

.list-group-item .minibutton {
    background-color: transparent;
    line-height: 2em;
}

.markdown-body .highlight pre, .markdown-body pre {
    background: #000966;
    background-color: #000966;
}

.markdown-body a.anchor {
    padding-left: 24px;
}

.markdown-body h4:hover a.anchor, .markdown-body h3:hover a.anchor, .markdown-body h2:hover a.anchor, .markdown-body h1:hover a.anchor {
    padding-left: 8px;
}

.menu-item {
    text-align: right;
}

.menu-item.selected {
    background-color: #00aaff;
}

.menu-item.selected:before {
    background: none;
}

.message, .message * {
    background-color: #111122   ;
}

.meta .clearfix {
    background: #000000;
}

.minibutton {
    background: transparent;
    border-width: 0;
}

.minibutton:hover {
    background: #F3F3F3;
}

.pagination span, .pagination a {
    background: none;
    border: 0px;
}

.primary, .minibutton.primary {
    background: #60b044;
    font-weight: 400;
}

.primary:hover, .minibutton.primary:hover {
    background: #569e3d;
}

.selectable.table-list-item.js-navigation-item.js-issue-row, table.files td, td, table.files td span a, table.files td span {
    background-color: #000000;
    /* Viktor - this makes tables black! */
    transition: background 1s;
}

.selectable.table-list-item.js-navigation-item.js-issue-row:hover {
    background-color: #000633;
    transition: background .2s;
}

.social-count,.social-count.js-social-count {
    border-left-color: #000000;
    border-left-width: 1px;
    border-style: solid;
}

.stars {
    color: #00aaff;
}

.sunken-menu {
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
}

.sunken-menu:before {
    background: none;
}

.sunken-menu:before, .sunken-menu:after {
    background: none;
}

.tabnav {
    margin-bottom: 5px;
}

:-moz-placeholder {
    color: #000966;
    /* Firefox 18- */
}

:-ms-input-placeholder {
    color: #000966;
}

::-moz-placeholder {
    color: #000966;
    /* Firefox 19+ */
}

::-webkit-input-placeholder {
    color: #000966;
}

::-webkit-scrollbar {
    /* for vertical scrollbars */
    /* for horizontal scrollbars */
    height: 20px;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 5, 130, 1);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 255, 1);
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

a {
    color: cyan;
}

a, div, span, li {
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none ;
}

a.btn {
    border-color: #000966;
}

a.btn-link.noTransition {
    color: #000000;
}

a.btn-link.selected.noTransition {
    color: #000000;
}

a.btn.btn-danger.noTransition {
    background-color: inherit;
}

a.btn.btn-outline.get-repo-btn {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

a.btn.btn-primary {
    border-style: none;
    color: #000000;
}

a.btn.btn-primary .octicon {
    color: #000000;
}

a.btn.btn-primary.new-repo {
    color: #000000;
}

a.btn.btn-primary.right.noTransition {
    border-style: none;
    color: #000000;
    margin-top: 4px;
}

a.btn.btn-sm {
    background-color: #000000;
    border-color: #000966;
}

a.btn.btn-sm.btn-with-count,a.btn.btn-sm.btn-with-count .octicon {
    background-color: #00aaff;
    color: #000;
}

a.btn.btn-sm.btn-with-count.noTransition .octicon {
    color: #000000;
}

a.btn.btn-sm.btn-with-count.select-menu-button.js-menu-target {
    background-color: #00aaff;
    color: #000;
}

a.btn.btn-sm.btn-with-count.select-menu-button.js-menu-target span.js-select-button {
    color: #000;
}

a.button-link {
    background-color: #00aaff;
    color: #000000;
}

a.button-outline.right {
    border-color: #000996;
}

a.button.danger.cancel {
    border-color: #000396;
}

a.button.primary.right {
    border-color: #73ff00;
}

a.code.selected.tabnav-tab {
    background-color: #000000;
    color: #00aaff;
}

a.commit-tease-sha {
    background-color: #00aaff;
    color: #000000;
    padding-left: 1em;
    padding-right: 1em;
}

a.css-truncate.css-truncate-target.notifications-repo-link {
    color: #000000;
}

a.filter-item.selected {
    background-color: #00aaff;
    color: #000000;
}

a.js-details-target {
    background-color: #00aaff;
    color: #000000;
}

a.js-selected-navigation-item.menu-item {
    border-color: #000396;
}

a.js-selected-navigation-item.reponav-item.selected {
    background-color: inherit;
    border-color: #000966;
}

a.js-selected-navigation-item.selected.sunken-menu-item {
    background-color: #000966;
}

a.js-selected-navigation-item.subnav-item {
    border-color: #000396;
}

a.js-selected-navigation-item.subnav-item.noTransition,,a.tabnav-tab.noTransition {
    transition: background 1.2s;
}

a.js-selected-navigation-item.subnav-item.noTransition:hover,a.tabnav-tab.noTransition:hover {
    background-color: #000633;
    /* Viktor - Tab Navigation */
    transition: background .2s;
}

a.js-selected-navigation-item.sunken-menu-item {
    border-color: #000396;
}

a.label.tooltipped.tooltipped-n,span.state {
    border-radius: 1em;
    color: #000000;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
}

a.menu-item {
    background-color: #000396;
    border-radius: 20px 0 0 20px;
    border-style: none;
    border-width: 5px;
    color: #000000;
    margin-top: 5px;
}

a.menu-item.selected span.counter {
    background-color: #000000;
    color: #00aaff;
}

a.message {
    background-color: inherit;
}

a.message.noTransition {
    background-color: inherit;
}

a.mini-repo-list-item.css-truncate {
    background-color: #000966;
    border-color: #000396;
}

a.minibutton {
    border-color: #000396;
}

a.minibutton.select-menu-button.with-count.js-menu-target {
    background-color: #00aaff;
}

a.minibutton.select-menu-button.with-count.js-menu-target:hover {
    background-color: #00ffff;
}

a.minibutton.with-count.js-toggler-target.tooltipped-n {
    background-color: #00aaff;
    color: #000000;
}

a.preview.tabnav-tab {
    color: #000396;
}

a.preview.tabnav-tab .octicon {
    color: #000396;
}

a.preview.tabnav-tab, a.code.selected.tabnav-tab {
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

a.selected.js-selected-navigation-item.subnav-item.noTransition {
    background-color: #00aaff;
    color: #000000;
}

a.selected.js-selected-navigation-item.sunken-menu-item.noTransition .octicon {
    color: #000000;
}

a.selected.js-selected-navigation-item.sunken-menu-item.noTransition,a.tabnav-tab.selected {
    background-color: #00aaff;
    color: #000000
;
}

a.social-count {
    border: 1px solid #00aaff;
    border-color: #000000;
    border-style: solid;
}

a.social-count.js-social-count {
    border-color: #000396;
}

a.social-count.noTransition {
    border-color: #000966;
    border-style: solid;
}

a.tabnav-tab {
    border-color: #000396;
}

a.tabnav-tab.selected {
    border-color: #00ffff;
}

a.tabnav-tab.selected .octicon {
    color: #000000;
}

a.tabnav-tab.write-tab.js-write-tab.selected {
    border-color: #000966;
}

a.url.fn span {
    color: #00aaff;
}

article.markdown-body.entry-content {
    background-color: #000000;
    border-color: #000396;
}

article.markdown-body.entry-content h1 {
    border-color: #000396;
}

article.markdown-body.entry-content h2 {
    border-color: #000996;
    color: #00ffff;
}

article.markdown-body.entry-content h3 code {
    background-color: #3b3b3b;
}

article.markdown-body.entry-content p code {
    background-color: #000966;
    color: #00aaff;
    font-weight: bold;
}

article.markdown-body.entry-content pre {
    background-color: #000966;
    font-weight: bold;
}

article.markdown-body.js-file {
    background-color: #000000;
}

article.markdown-body.js-file h2 {
    border-color: #000996;
}

article.markdown-body.js-file hr {
    background-color: #000996;
}

body, a, button, blockquote, h1, h2, h3, h4, h5, h6, ul, ol, il, li, table, th, tr, td, p, strong, pre, .announce, .name, .num, .bubble, .commit, .container, .divider-vertical, .authorship, .octofication, .commit-meta, .box, .box-header, .box-small, .box-title, .box-body, .col, .grid, .filter-bar, .js-notice, .news, .flash, .dashboard, .dashboard-sidebar, .header, .highlight, .message, .repo-nav-contents, .tab-content, .contributions-tab, .last, .site, .pagehead, .participation, .meta, .line, .plain {
    background-attachment: scroll;
    background-image: none;
    background-position: top left;
    background-repeat: repeat;
    color: #00aaff;
    /*Viktor - WTF*/
    /* This used to make everything's background-color black, but it affected too much other stuff, like issues lables couldn't have a background color, etc */
    text-shadow: none;
}

button {
    border-color: #000396;
}

button .octicon, .minibutton .octicon {
    color: #000000;
}

button,input,.js-select-button,.select-menu, .js-select-menu,.js-menu-container a,#repository_id,.social-count,.minibutton {
    background: #00aaff;
    border-color: #000396;
    color: #000000;
    text-shadow: none;
}

button.btn-link.muted-link.js-details-target {
    color: #000;
}

button.btn-link.muted-link.js-issue-assign-self {
    color: #000000;
}

button.btn.btn-sm.btn-with-count.js-toggler-target.noTransition .octicon {
    color: #000000;
}

button.button-link.delete-note.tooltipped.tooltipped-w {
    background-color: #000000;
}

button.button-link.js-details-target {
    padding-left: 5px;
    padding-right: 5px;
}

button.button-link.mute-note.tooltipped.tooltipped-w {
    background-color: #000000;
}

button.header-nav-link.sign-out-button.tooltipped.tooltipped-s {
    background-color: #000000;
}

button.js-dropdown-button.dropdown-button {
    padding-left: 1em;
    padding-right: 1em;
}

button.js-zeroclipboard.btn.btn-sm.zeroclipboard-button.tooltipped.tooltipped-s span {
    color: #000000;
}

button.mark-all-as-read.css-truncate.tooltipped.tooltipped-w {
    background-color: #000000;
}

button.minibutton {
    color: #000000;
}

button.minibutton, p button.minibutton {
    color: #00aaff;
}

button.minibutton.with-count.js-toggler-target {
    background-color: #00aaff;
}

button.minibutton:hover, p button.minibutton:hover {
    background: #00aaff;
    color: #000000;
}

button.octicon-btn.tooltipped.tooltipped-n span {
    color: #000000;
}

button.web-edit-button {
    background: #000000;
}

button.web-edit-button span.octicon {
    color: #00aaff;
}

button.web-edit-button span.octicon:hover {
    color: #00ffff;
}

code.language-javascript.highlight {
    background-color: inherit;
}

code.noTransition {
    background-color: #00aaff;
    color: #000000;
}

/* SCI-FI DARK GITHUB
   By Viktor Nova 
   https://github.com/ViktorNova/css
*/

/* /END SCROLLBARS */

/* SIDEBAR NAVIGATION */

/* Line devider for social count buttons */

/* Line devider for social count buttons */

/* SCI-FI DARK GITHUB
   By Viktor Nova 
   https://github.com/ViktorNova/css
*/

/*   EDITED 2-17 --- */

/*   EDITED 2-17 --- */

/*   EDITED 2-17 --- */

/* CODE EDITOR */

/* COMMENTS, COMMIT MESSAGES, ETC */

/* FILE EDITING BUTTONS */

/* Line devider for social count buttons */

/* Line devider for social count buttons */

/* --------------------------- */

/* RANDOM STUFF */

/* SCROLLBARS */

div p code.noTransition {
    background-color: #00aaff;
    color: #000000;
}

div.ace_content {
    border-color: #000396;
}

div.ace_gutter {
    border-color: #000396;
}

div.ace_gutter-cell {
    border-color: #000396;
    color: #00aaff;
}

div.ace_layer.ace_gutter-layer.ace_folding-enabled {
    background-color: #000000;
}

div.alert {
    background-color: #00ffff;
    border-bottom-right-radius: 2em;
    border-color: #000966;
    border-left-width: 20px;
    border-top-right-radius: 2em;
    box-shadow: .2em .2em .8em #000966;
}

div.alert p {
    background-color: inherit;
    color: #000000;
}

div.alert p a {
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

div.alert p code {
    background-color: #000000;
    border-color: #000000;
    color: #00aaff;
}

div.alert p code,div.alert pre {
    background-color: #000000;
    border-style: none;
    color: #00aaff;
}

div.alert pre {
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
    color: #00aaff;
}

div.alert.commit_comment {
    background-color: inherit;
}

div.alert.create.simple {
    background-color: inherit;
}

div.alert.delete.simple {
    background-color: inherit;
}

div.alert.fork.simple {
    border-color: #000396;
}

div.alert.issues_closed {
    background-color: inherit;
    border-color: #000396;
}

div.alert.issues_comment {
    background-color: inherit;
    border-color: #000396;
}

div.alert.issues_opened {
    background-color: inherit;
    border-color: #000396;
}

div.alert.issues_reopened {
    background-color: inherit;
}

div.alert.push {
    background-color: inherit;
    border-color: #000396;
}

div.alert.push li code a {
    color: #000000;
    padding-left: 1;
    padding-right: 1;
}

div.alert.release {
    background-color: inherit;
}

div.alert.tip p {
    background: inherit;
    background-color: inherit;
}

div.alert.tip p a {
    color: #000000;
}

div.alert.tip p strong {
    color: #000000;
}

div.alert.tip,div.alert.tip a,div.alert.tip p a {
    background: #00aaff;
    color: #000;
}

div.alert.warning {
    background: #ff6600;
    background-color: #ff6600;
    border-style: none;
}

div.alert.warning p {
    background-color: inherit;
    color: #000000;
}

div.alert.warning p strong {
    color: #a80000;
    text-transform: uppercase;
}

div.article-body.content-body.wikistyle.markdown-format h3 {
    border-color: #000966;
}

div.article-body.content-body.wikistyle.markdown-format p a {
    color: #00ffff;
    text-decoration: underline;
}

div.article-body.content-body.wikistyle.markdown-format p code {
    background-color: #00aaff;
    border-style: none;
    color: #000000;
}

div.article.js-hide-during-search {
    border-color: #000966;
}

div.blankslate {
    background-color: #000000;
    border-color: #000396;
}

div.blankslate.spacious.large-format {
    background-color: #000000;
}

div.blankslate.spacious.large-format.capped {
    background-color: #000000;
    border-color: #000396;
}

div.body {
    border-color: #000396;
}

div.boxed-group-inner {
    border-color: #000396;
}

div.boxed-group-inner.noTransition hr {
    border-color: #000966;
}

div.boxed-group-inner.noTransition label.noTransition {
    background-color: #00aaff;
    color: #000000;
    display: block;
    padding-left: 1em;
}

div.boxed-group.flush h3 {
    background-color: #000966;
    border-color: #000396;
}

div.boxed-group.flush.clearfix.announce.instapaper_body.md h3 {
    background-color: #00aaff;
    border-color: #000966;
    color: #000000;
}

div.boxed-group.flush.js-notifications-browser h3 {
    border-color: #000396;
}

div.branch-infobar.clearfix {
    background-color: #00aaff;
    border-color: #00aaff;
}

div.branch-infobar.clearfix p {
    background-color: transparent;
    color: #000000;
}

div.capped-box.overall-summary {
    border-width: 0;
}

div.capped-box.overall-summary.without-lang-stats {
    border-bottom: 1px solid #ddd;
}

div.clearfix {
    background-color: #000;
    border-color: #000966;
}

div.clearfix.announce.instapaper_body.md {
    background-color: transparent;
    border-width: 0;
}

div.clone-options.https-clone-options {
    background-color: inherit;
}

div.clone-options.text-small {
    color: #000966;
}

div.closed-banner {
    background-color: #000966;
    border-color: #000966;
}

div.code-list-item.code-list-item-public {
    border-color: #000396;
}

div.column div.boxed-group.flush.noTransition,div.column div.boxed-group.flush.noTransition h3 {
    background: #000000;
    background-color: #000000;
}

div.column.one-fourth hr {
    border-color: #000396;
}

div.comment-body.markdown-body pre {
    background-color: #000966;
}

div.comment-body.markdown-body.email-format.js-comment-body {
    background-color: #000000;
}

div.comment-body.markdown-body.js-comment-body p a {
    color: #aca6ff;
}

div.comment-body.markdown-body.js-comment-body p code {
    background-color: #5e5e5e;
}

div.comment-body.markdown-body.js-preview-body p a {
    color: #00ffff;
    font-weight: bold;
}

div.comment-body.markdown-body.markdown-format.js-comment-body {
    background-color: #000000;
    border-color: #000396;
}

div.comment-body.markdown-body.markdown-format.js-comment-body blockquote {
    border-color: #000966;
}

div.comment-body.markdown-body.markdown-format.js-comment-body hr {
    background-color: #000966;
}

div.comment-body.markdown-body.markdown-format.js-comment-body p a {
    color: #00ffff;
    text-decoration: underline;
}

div.comment-body.markdown-body.markdown-format.js-comment-body p code {
    background-color: #00aadd;
    color: #000000;
}

div.comment-body.markdown-body.markdown-format.js-comment-body pre {
    background-color: #000966;
}

div.comment-form-head.tabnav {
    background-color: #000000;
    border-color: #000396;
}

div.comment.timeline-comment.js-comment.js-task-list-container.owner-comment {
    border-color: #000396;
}

div.commit {
    background-color: #000000;
}

div.commit-form {
    border-color: #000396;
}

div.commit-form:before, div.commit-form:after, div.timeline-comment:before, div.timeline-comment:after {
    border-right-color: #000996;
}

div.commit-group-title {
    color: #000966;
}

div.commit-meta {
    background-color: #000000;
    border-color: #000396;
}

div.commit-tease {
    background-color: #000000;
    border-color: #000966;
}

div.commit-tease-contributors {
    background-color: inherit;
    border-color: #000966;
}

div.commit-tease.js-details-container {
    background-color: #000966;
    border-color: #000966;
}

div.commit.commit-tease.js-details-container {
    background-color: #000000;
    border-color: #000396;
}

div.commit.file-history-tease {
    border-color: #000396;
}

div.commit.full-commit {
    border-color: #000996;
}

div.content p code, ul li code {
    background-color: #00aaff;
    border-color: #00aaff;
    color: #000000;
}

div.content pre {
    background-color: #00aaff;
    border-color: #009966;
    color: #000000;
}

div.content pre span.s2 {
    background-color: #00aaff;
    color: #000000;
}

div.content-header.small {
    border-color: #000966;
}

div.contrib-column {
    border-color: #000966;
}

div.contrib-column.contrib-column-first.table-column {
    background-color: #000000;
}

div.contrib-column.table-column {
    background-color: #000000;
}

div.contrib-footer.clearfix {
    background-color: #000000;
}

div.dashboard-notice.js-notice {
    border-color: #000396;
}

div.discussion-item-header {
    color: #000966;
}

div.discussion-sidebar-item {
    border-color: #000966;
}

div.discussion-sidebar-item.js-socket-channel.js-updatable-content {
    border-color: #000396;
}

div.discussion-sidebar-item.sidebar-assignee {
    border-color: #000396;
}

div.discussion-sidebar-item.sidebar-milestone {
    border-color: #000396;
}

div.discussion-sidebar-item.sidebar-notifications {
    border-color: #000396;
}

div.discussion-timeline-actions {
    background-color: #000000;
    border-color: #000396;
}

div.divider-vertical {
    background-color: #000966;
    border-color: #000966;
}

div.dropdown-divider {
    display: none;
}

div.dropdown-menu.dropdown-menu-sw {
    background-color: rgba(0,0,0,0.8);
    border-color: #000966;
    border-radius: 12px;
    border-width: 6px;
    box-shadow: 0 0 12px #000;
}

div.editor-gitignore-template.js-gitignore-template.is-visible {
    color: #00aaff;
}

div.file {
    border-color: #000396;
}

div.file-actions a.minibutton {
    background-color: #00aaff;
    border: 3px solid #000000;
    border-radius: 16px;
}

div.file-actions a.minibutton:hover {
    background-color: #00ffff;
}

div.file-box.blob-wrapper {
    border-color: #000396;
}

div.file-header {
    background-color: #000000;
    border-color: #000966;
}

div.file-history-tease-header {
    border-color: #000396;
}

div.file-wrap {
    border-color: #000396;
}

div.file-wrap h3.noTransition {
    background-color: #000000;
}

div.filter-bar {
    background-color: #000000;
    border-color: #000966;
}

div.filter-repos.filter-bar {
    border-color: #000396;
}

div.flash {
    border-color: #000396;
}

div.flex-table-item.flex-table-item-primary {
    color: #000966;
}

div.flex-table.gh-header-meta {
    border-color: #000396;
}

div.form-actions {
    background-color: #000966;
    border-color: #000966;
}

div.get-repo-modal.dropdown-menu.dropdown-menu-sw.pb-0.js-toggler-container {
    background-color: rgba(0,0,0,0.7);
    border-color: #000966;
    border-radius: 12px;
    border-width: 6px;
    box-shadow: 0 0 12px #000;
}

div.gist-description div {
    color: #00aaff;
}

div.gollum-editor-help.noTransition div.gollum-editor-help-wrapper.noTransition, div.gollum-editor-help.noTransition, div.gollum-editor-help-wrapper.noTransition {
    background: #000000;
}

div.header-search-scope {
    border-style: none;
    color: #000966;
}

div.header.header-logged-in {
    background-color: #000000;
    border-color: #000396;
}

div.highlight pre {
    background-color: #000966;
}

div.highlight.highlight-python pre, article.markdown-body.entry-content pre, pre.noTransition {
    border-color: #000966;
    border-radius: 1em;
    border-style: solid;
    border-width: 10px;
    box-shadow: 0 0 8px #00aaff;
}

div.highlight.highlight-source-js pre {
    font-weight: bold;
}

div.inner {
    background-color: #000000;
}

div.js-calendar-graph.is-graph-loading.graph-canvas.calendar-graph {
    background-color: #000000;
}

div.js-file-header.file-header, div.js-file-header.file-header::before {
    border-color: #000000;
}

div.js-previewable-comment-form.js-suggester-container.previewable-comment-form.preview-selected {
    background-color: #000000;
}

div.js-previewable-comment-form.js-suggester-container.previewable-comment-form.write-selected {
    background-color: #000396;
}

div.js-previewable-comment-form.previewable-comment-form.write-selected {
    background-color: #000000;
}

div.js-socket-channel.js-updatable-content.comment-reactions.has-reactions.js-reactions-container {
    background-color: #000000;
    border-style: none;
}

div.left.text-muted {
    color: #000396;
}

div.lower_footer {
    border-color: #000966;
}

div.markdown-body {
    background-color: #000000;
}

div.message.markdown-body blockquote {
    background-color: inherit;
    color: #00aaff;
}

div.message.markdown-body blockquote p {
    color: #006191;
}

div.meta {
    border-color: #000396;
}

div.meta.clearfix {
    background-color: #000000;
    border-color: #000396;
}

div.name {
    border-color: #000396;
}

div.noTransition {
    background: inherit;
    border-color: #000966;
}

div.overall-summary {
    border-color: #000966;
}

div.overall-summary.overall-summary-bottomless {
    border-color: #000396;
}

div.pagehead {
    border-color: #000396;
}

div.pagehead.repohead {
    border-color: #000396;
}

div.pagehead.repohead.instapaper_ignore.readability-menu.experiment-repo-nav {
    background-color: inherit;
    border-style: none;
}

div.pagination a {
    border-color: #000396;
}

div.participation {
    border-color: #000396;
}

div.plain {
    background-color: inherit;
    border-color: #000966;
}

div.preview-content {
    background-color: #000000;
}

div.protip.protip-callout {
    border-color: #000396;
    color: #000396;
}

div.readme.boxed-group.clearfix.announce.instapaper_body.md h3 {
    background-color: #000966;
    border-color: #000966;
}

div.readme.boxed-group.clearfix.announce.instapaper_body.md svg.octicon.octicon-book path {
    color: #00aaff;
}

div.readme.boxed-group.clearfix.announce.instapaper_body.rst h3 {
    background-color: inherit;
    border-color: #000966;
}

div.recently-touched-branches ul li {
    border-color: #00aaff;
}

div.repo-list-stats {
    color: #000966;
}

div.repository-description {
    color: #00aaff;
}

div.repository-lang-stats-graph {
    border-color: #000966;
}

div.scope-badge {
    background-color: #000396;
    border: none;
    border-style: none;
    color: #000000;
}

div.scope-badge.noTransition {
    background-color: #00aaff;
}

div.search-form.small.right span.octicon.octicon-search {
    color: #000000;
}

div.sidebar {
    border-color: #000966;
}

div.sidebar-module.api-status {
    border-color: #000966;
}

div.sidebar-module.notice {
    border-color: #000966;
}

div.sidebar-module.notice p {
    border-color: #000966;
}

div.site-footer {
    border-color: #000396;
}

div.sort-bar {
    border-color: #000396;
}

div.state.state-open {
    background-color: #a6ff00;
    color: #000000;
}

div.sub-nav {
    border-color: #000966;
}

div.sunken-menu-contents {
    background-color: #000966;
}

div.sunken-menu-separator {
    background: none;
    border-color: #000396;
}

div.sunken-menu-separator:before {
    display: none;
}

div.support-footer hr {
    border-color: #000966;
}

div.table-list-cell.issue-comments {
    border-color: #000396;
}

div.table-list-cell.issue-title {
    border-color: #000396;
}

div.table-list-cell.table-list-cell-avatar {
    border-color: #000396;
}

div.table-list-cell.table-list-cell-type {
    border-color: #000396;
}

div.table-list-header {
    background-color: #00aaff;
    border-color: #000396;
}

div.table-list-header a.btn-link {
    color: #000000;
}

div.tabnav {
    border-color: #000396;
}

div.thread-subscription-status.js-thread-subscription-status.js-socket-channel.js-updatable-content {
    background-color: #000000;
    border-color: #000996;
}

div.time time {
    color: #000966;
}

div.timeline-comment {
    border-color: #000396;
}

div.timeline-comment-header {
    background-color: #000000;
    border-color: #000966;
}

div.timeline-comment-header-text {
    background-color: #000000;
    color: #000966;
}

div.timeline-comment-wrapper.js-comment-container {
    border-color: #000396;
}

div.ul div.table-list-cell .navigation-focus,li.issue,li.issue {
    background: #000000;
    background-color: #000000;
}

div.ul div.table-list-cell:hover div {
    background-color: #000633;
}

div.vcard-stats {
    border-color: #000396;
}

div.write-content.js-write-bucket {
    background-color: #000000;
}

div.write-content.js-write-bucket.js-uploadable-container.js-upload-markdown-image.upload-enabled.is-default {
    background-color: #000396;
}

em.current {
    border-color: #000396;
    color: #000000
;
}

form.js-blob-form {
    border-color: #000000;
}

form.js-issue-sidebar-form {
    color: #000966;
}

form.js-site-search-form input {
    background-color: #000000;
    border-color: #000396;
    border-radius: 0 20px 20px 0;
    border-style: solid;
    border-width: 5px;
    color: #00aaff;
    margin-top: -2px;
}

form.subnav-search.subnav-divider-right.left {
    border-color: #000396;
}

h3.conversation-list-heading {
    border-color: #00aaff;
}

h3.noTransition {
    border-color: #000966;
}

html, body {
    background: #000000;
    background-color: #000000;
    color: #00a6ff;
}

input {
    border-color: #000396;
}

input.filename.js-blob-filename.js-breadcrumb-nav {
    border-color: #000396;
}

input.filter-input.js-filterable-field {
    background-color: #000000;
    border-color: #000396;
    border-radius: 0 20px 20px 0;
    border-style: solid;
    border-width: 5px;
    color: #00aaff;
    margin-top: -2px;
}

input.input-block.js-search-query {
    background-color: #000000;
    border-color: #000396;
    border-radius: 0 20px 20px 0;
    border-style: solid;
    border-width: 5px;
    color: #00aaff;
    margin-top: -2px;
}

input.js-articles-quicksearch {
    border-color: #000000;
}

input.subnav-search-input.input-contrast {
    border-color: #000396;
}

label.js-chromeless-input-container.form-control {
    background-color: inherit;
    border-style: none;
}

label.js-chromeless-input-container.form-control.noTransition {
    background-color: #000000;
    border-style: none;
}

label.table-list-cell.table-list-cell-checkbox {
    border-color: #000966;
}

li {
    border-color: #000396;
}

li p code {
    background-color: #000669;
    color: #00aaff;
}

li pre code {
    background-color: #000996;
    color: #000000;
    padding: 10px;
}

li.issue {
}

li.js-topic,li.js-topic h3, div.js-toggle-list.sidebar-module.expandable {
    border-color: #000966;
}

li.list-group-item.js-notification.js-navigation-item.unread.pull-request-notification.navigation-focus {
    border-color: #000396;
}

li.repo-list-item.public.source {
    border-color: #000396;
}

nav.menu {
    background: none;
    border: none;
}

nav.sunken-menu.repo-nav.js-repo-nav.js-sidenav-container-pjax.js-octicon-loaders {
    background: #000000;
    border-color: #000396;
}

ol.task-list li pre {
    background-color: #000996;
}

p.drag-and-drop {
    background-color: inherit;
    border-color: #000396;
}

p.drag-and-drop.noTransition {
    background-color: #000000;
    border-color: #000966;
    border-style: dashed;
    border-top-width: 3px;
}

p.reason {
    border-color: #000396;
}

p.reason.text-small.text-muted {
    color: #000966;
}

p.text-success {
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    width: 20em;
}

pre.command-line {
    background-color: #000966;
    border-color: #000966;
    border-style: none;
}

pre.noTransition {
    background-color: #00aaff;
    border-style: none;
    color: #000000;
    padding: 2em;
}

select.js-code-indent-mode {
    background-color: #00aaff;
    border-color: #000396;
    color: #000000;
}

select.js-code-indent-width {
    background-color: #00aaff;
    border-color: #000396;
    color: #000000;
}

select.js-code-wrap-mode {
    background-color: #00aaff;
    border-color: #000396;
    color: #000000;
}

select.js-repo-default-branch.noTransition {
    background-color: #00aaff;
    border-color: #000966;
    color: #000000;
}

span a span {
    color: #00ffff;
}

span.blob-code-inner {
    color: #00e1ff;
}

span.btn-link.select-menu-button.js-menu-target {
    color: #000000;
}

span.btn.btn-sm.select-menu-button.js-menu-target.css-truncate {
    background: #00aaff;
    background-color: #00aaff;
    border: none
    color: #000000;
    border-color: #000966;
    color: #000000;
}

span.btn.btn-sm.select-menu-button.js-menu-target.css-truncate.noTransition {
    border-style: none;
}

span.btn.select-menu-button.with-gravatar.js-menu-target {
    background: inherit;
    border: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 1pxpx;
    border-style: solid;
    border-top-width: 0;
}

span.button-link.select-menu-button.js-menu-target {
    color: #000000;
}

span.contrib-number {
    color: #00aaff;
    font-weight: bold;
}

span.counter {
    background-color: #00aaff;
    color: #000000;
    margin-left: 11px;
    margin-top: 2px;
    text-align: center;
    width: 6em;
}

span.current {
    color: #4183c4;
}

span.datetime {
    color: #000996;
}

span.edit-link {
    color: #000966;
}

span.editor-abort {
    color: #000966;
}

span.email-hidden-toggle a {
    background-color: inherit;
}

span.file-info-divider {
    color: #000996;
}

span.gap {
    background-color: #000000;
    border-color: #000396;
    color: #000396;
}

span.gh-header-number {
    color: #00ffff;
}

span.issue-meta-section.opened-by {
    color: #000396;
}

span.js-new-blob-submit.octicon.octicon-plus {
    color: #000000;
}

span.js-select-button {
    background-color: inherit;
}

span.js-select-button.css-truncate-target {
    background-color: inherit;
}

span.label {
    border-style: dashed;
    border-width: 2px;
    box-shadow: none ;
    font-weight: bold;
    padding-bottom: 1px;
    text-shadow: none ;
    text-transform: lowercase;
}

span.label-color.noTransition {
    color: #000000;
}

span.language {
    color: #000396;
}

span.language-color {
    border-color: #000966;
}

span.language-color.noTransition {
    border-style: solid;
}

span.mail-status.unread {
    background: #00ffff;
    border-color: #000396;
}

span.match-count {
    color: #000396;
}

span.mega-octicon {
    color: #00aaff;
}

span.mega-octicon.octicon-repo {
    color: #00aaff;
}

span.mi {
    color: #000966;
}

span.minibutton.select-menu-button.js-menu-target.css-truncate:hover {
    background-color: #00ffff;
    color: #000000;
}

span.n {
    color: #e0e0e0;
}

span.octicon {
    color: #00aaff;
}

span.octicon.discussion-item-icon.noTransition {
    background-color: #000000;
}

span.octicon.octicon-check {
    color: #00ff73;
    text-shadow: 0 0 2px #000000;
}

span.octicon.octicon-clippy.noTransition {
    background-color: inherit;
}

span.octicon.octicon-git-branch {
    color: #000000;
}

span.octicon.octicon-git-commit.noTransition {
    background-color: #000000;
}

span.octicon.octicon-git-compare {
    color: #00ffff;
}

span.octicon.octicon-issue-closed.closed {
    color: #00ff73;
}

span.octicon.octicon-issue-opened {
    color: #e00070;
    text-shadow: 0 0 3px #000000;
}

span.octicon.octicon-issue-opened.open {
    color: #e00070;
}

span.octicon.octicon-link {
    color: #00aaff;
}

span.octicon.octicon-star {
    color: #000000;
}

span.octicon.octicon-x {
    background-color: #000396;
}

span.p {
    color: #000966;
}

span.path-divider {
    color: #000396;
}

span.pl-vo {
    color: #00ffff;
}

span.previous_page.disabled {
    background: #000000;
    border-color: #000396;
    color: #000396;
}

span.repo-description {
    color: #000966;
}

span.repository-meta-content span {
    color: #00aaff;
}

span.repository-meta-content span a {
    font-style: italic;
    text-decoration: underline;
}

span.right {
    color: #00aaff;
}

span.separator {
    color: #00aaff;
}

span.sha {
    color: #000396;
}

span.sha-block {
    color: #000996;
}

span.sha.js-selectable-text {
    color: #00aaff;
}

span.ss {
    color: #e897e8;
}

span.tag-name {
    color: #00ffff;
    font-size: 1.5em;
}

span.text-emphasized {
    color: #000396;
}

span.text-muted {
    color: #00aaff;
}

span.timeline-comment-label {
    border-style: none;
    color: #000966;
}

span.updated-at {
    color: #000396;
}

span.vcard-fullname {
    color: #00ffff;
}

span.vcard-username {
    color: #000966;
}

strong.branch-name.noTransition {
    background-color: #00aaff;
    color: #000000;
}

svg.octicon.octicon-book {
    color: #000966;
}

svg.octicon.octicon-gear {
    color: #00aaff;
}

svg.octicon.octicon-git-branch path {
    color: #00aaff;
}

svg.octicon.octicon-git-commit {
    background-color: inherit;
    color: #00aaff;
}

svg.octicon.octicon-git-pull-request path {
    color: #000966;
}

svg.octicon.octicon-graph {
    color: #000966;
}

svg.octicon.octicon-history path {
    color: #00aaff;
}

svg.octicon.octicon-issue-closed.type-icon.type-icon-state-closed path {
    color: #00ff09;
}

svg.octicon.octicon-issue-opened path {
    color: #000966;
}

svg.octicon.octicon-mark-github {
    color: #000966;
}

svg.octicon.octicon-organization {
    color: #00aaff;
}

svg.octicon.octicon-pulse path {
    color: #000966;
}

svg.octicon.octicon-repo path {
    color: #000966;
}

svg.octicon.octicon-tag path {
    color: #00aaff;
}

table {
    border-radius: 5px;
}

tbody tr td {
    border-color: #000966;
}

td.age {
    border-color: #000396;
}

td.blob-code.blob-code-inner.js-file-line {
    background-color: #000000;
}

td.blob-code.js-file-line {
    background: #555555;
}

td.blob-num {
    border-color: #000396;
}

td.content {
    border-color: #000396;
}

td.icon {
    border-color: #000396;
}

td.message {
    border-color: #000396;
}

textarea {
    border-color: #000396;
}

textarea.comment-form-textarea.js-comment-field.js-size-to-fit.js-quote-selection-target.input-with-fullscreen-icon {
    background-color: #000000;
}

textarea.file-contents.js-file-edit.js-code-editor {
    border-color: #000396;
}

textarea.input-contrast.comment-form-textarea.js-comment-field.js-quick-submit.js-size-to-fit.js-quote-selection-target.js-session-resumable.js-suggester-field {
    background-color: #000000;
    color: #00aaff;
}

thead tr th {
    background-color: #00aaff;
    border-color: #000966;
    color: #000000;
}

u2500.highlight .c, .highlight.cm, .highlight.c1 {
    color: #666677;
}

ul li code {
    background-color: #000966;
    color: #00aaff;
    font-weight: bold;
}

ul.boxed-group-inner {
    background-color: #000000;
}

ul.boxed-group-inner.list-group.notifications {
    border-color: #000396;
}

ul.boxed-group-inner.mini-repo-list {
    border-color: #000396;
}

ul.filter-list .filter-item.selected {
    background: white;
    color: #4183c4;
}

ul.filter-list.small {
    border-color: #000396;
}

ul.lightweight-actions {
    border-radius: 10px;
}

ul.lightweight-actions li a {
    padding-right: 7px;
}

ul.menu {
    border-color: #000396;
    border-style: none;
}

ul.table-list.table-list-bordered {
    border-color: #000966;
}

ul.top-nav li a {
    padding-left: 1em;
    padding-right: 1em;
}

ul.vcard-details {
    border-color: #000966;
}

header.site-header.js-details-container {
    background-color: inherit;
}

a.btn.site-header-actions-btn.mr-1 {
    background-color: #00aaff;
    color: #000;
}

div.auth-form-body.mt-3 {
    background-color: inherit;
    border-color: #000966;
    border-width: 6px;
    border-radius: 6px;
}

p.create-account-callout.mt-3 {
    border-style: none;
}

div.readme.boxed-group.clearfix.announce.instapaper_body h3 {
    background-color: #00aaff;
    color: #000;
    border-color: #000966;
}

button.btn.btn-sm.select-menu-button.js-menu-target.css-truncate i {
    color: #000000;
}

li.pinned-repo-item.p-3.mb-3.border.border-gray-dark.rounded-1.public.source {
    border-color: #00aaff;
}

li.pinned-repo-item.p-3.mb-3.border.border-gray-dark.rounded-1.public.fork {
    border-color: #00aaff;
}

div.mb-5.border.border-gray-dark.rounded-1.py-2 {
    border-color: #00aaff;
}

svg.octicon.octicon-location {
    color: #00aaff;
}

svg.octicon.octicon-link {
    color: #00aaff;
}

svg.octicon.octicon-clock path {
    color: #00aaff;
}

nav.underline-nav {
    background-color: #000;
    border-style: none;
}

p.pinned-repo-desc.text-gray.text-small.d-block.mt-2.mb-3 {
    color: #00aaff;
}

p.mb-0.f6.text-gray {
    color: #00aaff;
}

a.pinned-repo-meta.muted-link {
    color: #00aaff;
}

a.btn-link.muted-link.float-right.mt-1.pinned-repos-setting-link {
    color: #000966;
}

p.text-gray.text-small.mb-2 a {
    font-weight: bold;
}

p.text-gray.text-small.mb-2 {
    color: #000966;
}

h3.profile-timeline-month-heading.bg-white.d-inline-block.h6.pr-2.py-1 {
    background-color: inherit;
}

div.profile-timeline-year-list.bg-white.col-2.float-right.pl-5.js-profile-timeline-year-list.js-sticky {
    background-color: inherit;
}

a.js-year-link.filter-item.px-3.mb-2.py-2.selected {
    background-color: inherit;
}

span.text-gray {
    color: #00aaff;
}

div.profile-rollup-wrapper.py-4.pl-4.position-relative.ml-3.js-details-container.open {
    border-color: #000966;
}

button.ajax-pagination-btn.btn.btn-outline.border-gray-dark.width-full.f6.mt-0.py-2.contribution-activity-show-more {
    border-style: none;
}

p.text-gray.f6.mt-4 {
    color: #000966;
}

div.user-profile-sticky-bar.js-user-profile-sticky-bar.is-stuck {
    background-color: #000;
}

span.discussion-item-icon {
    background-color: inherit;
    color: #000966;
}

li.col-12.d-block.width-full.py-4.border-bottom.public.source {
    border-color: #000966;
}

li.col-12.d-block.width-full.py-4.border-bottom.public.fork {
    border-color: #000966;
}

p.col-9.d-inline-block.text-gray.m-0.pr-4 {
    color: #00aaff;
}

a.muted-link {
    color: #00aaff;
}

div.f6.text-gray.mt-2 {
    color: #000966;
}

