/* 
This makes Gmail look the way I want it to
Note - this is meant to be used in conjunction with the Dark Reader Chrome extension
https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh
(other color inversion plugins should work but who knows)
*/
.yO, .zA, body, div,.yO>.xW {
    viktor: "This is most text, including email body text, read email senders/titles in list view";
    color: #8373ff;
}

.zF, .bq3, .bqe, [role=listitem] {
    viktor: "Unread messages";
    font-size: 1.1em;
    color: #00aaff;
}

.y2 {
    viktor: "Message preview text";
    color: #d0d3fa;
}

.av {
    color: #fff;
}

::selection {
    background-color: #0900ff;
    color: #ffffff;
}

a {
    color: #ff3bc1;
}

.pj .KRQuhe {
    viktor: "Chat - sent messages";
    background-color: #dfd9ff;
}

.Ik {
    viktor: "Chat - window bar";
    background-color: ##01004a;
}

