/*  SciFi Dark Trello - Cyanova
    By Viktor Nova
    https://github.com/ViktorNova/css
    
    To install this theme Stylebot, go here: http://stylebot.me/styles/8281
    The Stylebot style self-updates straight from Github (for the most part)
    
    Note: There is a second stylesheet that goes along with this one to complete the theme:
    https://raw.githubusercontent.com/ViktorNova/css/master/trello-scifi-cyan-stylebot-extras.css
*/

@import url("https://raw.githubusercontent.com/ViktorNova/css/master/trello-scifi-cyan-core.css");

div.u-fancy-scrollbar::-webkit-scrollbar-track, div.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: #000000;
}

div.u-fancy-scrollbar::-webkit-scrollbar-thumb {
    background: #004a4a;
}

#header {
    background-color: #00ffff;
    padding-bottom: 9px;
}

.header-search-input {
    border: 1px solid #000000;
    border-radius: 16px;
    padding-bottom: 27px;
}

.list-card {
    background-color: inherit;
    border: inherit;
}

.list-card-labels .card-label {
    line-height: 1em;
}

a.button-link {
    background: #001f1f;
    background-color: #004a4a;
    border-color: #000000;
    border-style: none;
    color: #000000;
}

a.button-link span.icon-sm {
    color: #000000;
}

a.button-link:hover {
    background: #00ffff;
}

a.card-detail-item-add-button.dark-hover.js-details-edit-members {
    background: #004a4a;
}

a.card-detail-item-add-button.dark-hover.js-details-edit-members:hover {
    background-color: #00ffff;
}

a.header-btn.header-boards.js-boards-menu {
    padding-right: 7px;
}

a.inline-block.quiet.dark-hover.js-view-org-profile {
    color: #004a4a;
}

a.inline-block.quiet.dark-hover.js-view-org-profile span.icon-sm {
    color: #00ffff;
    padding-right: 5px;
}

a.js-open-delete-confirm {
    color: #004a4a;
}

a.js-remove-cover {
    color: #004a4a;
}

a.quiet-button.js-add-board {
    background-color: #004a4a;
    color: #000000;
}

a.quiet-button.js-add-board-with-name {
    background-color: #000000;
    color: #00ffff;
}

a.quiet-button.js-add-board-with-name:hover {
    background-color: #00ffff;
    color: #000000;
}

a.quiet-button.js-attach {
    color: #004a4a;
}

a.quiet-button.js-more-menu {
    background-color: #000000;
    color: #004a4a;
}

a.quiet-button.js-open-closed-boards {
    background-color: #004a4a;
    color: #000000;
}

a.quiet-button.js-pin {
    background-color: #004a4a;
    color: #000000;
}

a.quiet-button.mod-with-image.hide-on-edit.js-edit-desc.js-hide-with-desc {
    color: #004a4a;
}

a.quiet-button.mod-with-image.hide-on-edit.js-edit-desc.js-hide-with-desc:hover {
    background-color: #00ffff;
    color: #000000;
}

/* ADDED 2015-02-17 */

div.attachment-viewer-frame-details p {
    color: #004a4a;
}

div.board-drawer-content.u-fancy-scrollbar span.icon-sm {
    color: #00ffff;
}

div.boards-drawer.is-shown {
    background-color: #000000;
    border-color: #00ffff;
    border-style: solid;
}

div.boards-drawer.show {
    background-color: #000000;
}

div.calendar-day.js-expand-day {
    background-color: #004a4a;
}

div.clearfix {
    background-color: #000000;
}

div.js-attachment-list attachment-thumbnail-details.js-open-viewer:hover {
    border-style: solid;
}

div.list.add-list.idle {
    border-color: #004a4a;
}

div.quiet.num-cards {
    padding-left: 10px;
    padding-right: 10px;
}

div.u-clearfix hr {
    background-color: #004a4a;
}

div.window-archive-banner.js-archive-banner {
    background: none;
    background-color: #004a4a;
    color: #000000;
}

div.window-module {
    color: #00ffff;
}

h2.attachment-viewer-frame-details-title {
    color: #00ffff;
}

input.js-search-boards {
    background-color: #000d0d;
    border-color: #00ffff;
    border-radius: 16px;
    color: #00ffff;
    padding-left: 14px;
    padding-right: 14px;
}

p.attachment-thumbnail-details {
    transition: .5s;
}

p.attachment-thumbnail-details.js-open-viewer {
    color: #000000;
}

p.attachment-thumbnail-details.js-open-viewer:hover {
    background: none;
    background-color: #000000;
}

p.attachment-thumbnail-details:hover {
    background-color: #000000;
    border-bottom-width: 10px;
    border-color: #00ffff;
    border-left-width: 0;
    border-radius: 0 10px 10px 0;
    border-right-width: 10px;
    border-style: solid;
    border-top-width: 10px;
}

p.inline-block.bottom {
    padding-left: 16px;
    padding-right: 16px;
}

p.sidebar-section-header.quiet.js-sidebar-section-header.bold {
    color: #00ffff;
}

p.u-inline-block.u-bottom {
    padding-left: 10px;
    padding-right: 10px;
}

span.attachment-thumbnail-details-options-item-text {
    color: #004a4a;
}

span.board-header-btn-icon.icon-sm.icon-cal {
    color: #00ffff;
}

span.card-label {
    border-radius: 8px;
    height: auto;
    padding-bottom: .1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    text-align: left;
    vertical-align: top;
    width: auto;
}

span.details {
    background-color: #000d0d;
    color: #00ffff;
}

span.header-logo-default {
    border-color: #000000;
}

span.icon-lg.icon-archive.window-archive-banner-icon {
    color: #000000;
}

span.icon-lg.window-module-title-icon {
    color: #00ffff;
}

span.icon-sm.icon-add {
    color: #000000;
}

span.icon-sm.icon-close.light.attachment-viewer-option-icon {
    color: #004a4a;
}

span.icon-sm.icon-cover.light.attachment-viewer-option-icon {
    color: #004a4a;
}

span.icon-sm.icon-follow {
    color: #004a4a;
}

span.icon-sm.icon-movedown.light.attachment-viewer-option-icon {
    color: #004a4a;
}

span.js-meta a {
    color: #004a4a;
}

span.member-boards-list-ad.business-class-ad.window-title-extra--bc-pitch {
    display: none ;
}

span.placeholder.js-open-add-list {
    color: #004a4a;
}

span.placeholder.js-open-add-list a:hover {
    color: #00ffff;
}

span.quiet-button-icon.icon-sm.icon-desc {
    color: #004a4a;
}

span.sidebar-section-header-title {
    color: #00ffff;
}

span.u-block.quiet {
    color: #004a4a;
}

textarea.checklist-new-item-text.js-new-checklist-item-input {
    background: #000000;
}

textarea.field.single-line {
    color: #00ffff;
    font-style: italic;
    height: auto;
}

textarea.list-card-edit-title {
    background-color: #000000;
    color: #00ffff;
    font-style: italic;
    padding: .5em;
}

a.attachment-thumbnail-details-title.js-attachment-thumbnail-details {
    color: #00ffff;
}

a.list-card-title.js-card-name {
    color: #000000;
    font-weight: bold;
}

span.badge-icon.icon-sm {
    color: #000000;
}

a.list-header-menu-icon.icon-sm.icon-dropdown-menu.dark-hover.js-open-list-menu {
    color: #00ffff;
}

div.list-card-details {
    background-color: #00ffff;
    border-radius: 10px;
}

div.window-cover.js-card-cover-box {
    background-color: #000000;
}

a.disabled strong {
    color: #000000;
    text-decoration: underline;
}

